<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>rebuapp</display-name>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<!-- login filter for cliente -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>filters.LoginFilter</filter-class>
		<init-param>
			<param-name>excludedUrls</param-name>
			<!-- Comma separated list of excluded servlets -->
			<param-value>/login-entregador.xhtml,/login.xhtml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/cliente/*</url-pattern>
	</filter-mapping>
	<!-- login filter for entregador -->
	<filter>
		<filter-name>LoginEntregadorFilter</filter-name>
		<filter-class>filters.LoginEntregadorFilter</filter-class>
		<init-param>
			<param-name>excludedUrls</param-name>
			<!-- Comma separated list of excluded servlets -->
			<param-value>/login-entregador.xhtml,/login.xhtml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginEntregadorFilter</filter-name>
		<url-pattern>/entregador/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>560</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>login.xhtml</welcome-file>
	</welcome-file-list>
</web-app>